.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Custom css from here */
:root {
    --bg-dark: #0f0f0f;
    --secondary: hsla(0, 0%, 100%, 0.08);
    --secondary-lighter-2: hsla(0, 0%, 100%, 0.2);
    --secondary-lighter-5: hsla(0, 0%, 100%, 0.5);
    --color-border: rgba(255, 255, 255, 0.2);
}
.bg-default {
    background: var(--bg-dark);
}
/* Sidebar */
.ant-menu {
    background-color: transparent;
    color: white;
}
.scrollbar-track-y {
    width: 10px !important;
}
.scrollbar-track {
    background-color: transparent !important;
}
.scrollbar-thumb {
    position: relative;
    background-color: var(--secondary-lighter-5) !important;
}
.ant-menu .scrollbar-thumb::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: var(--bg-dark);
}
.ant-menu:hover .scrollbar-thumb::before {
    background-color: transparent;
}

.ant-menu .ant-menu-item-selected,
.ant-menu .ant-menu-item-active {
    background: var(--secondary) !important;
}

.ant-menu .ant-menu-item-divider {
    border-color: var(--color-border);
}
.ant-menu-title-content {
    margin-left: 25px !important;
}

.ant-menu .ant-menu-item-group .ant-menu-item-group-title {
    font-size: 16px;
    color: #fff;
}

/* Header */
.header-tag-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--bg-dark);
    width: 100%;
}
.header {
    height: 56px;
    width: 100%;
}

.icon-hover {
    padding: 10px;
}
.icon-hover:hover {
    background: hsl(0, 0%, 18.82%);
    padding: 10px;
    border-radius: 50%;
}
.search-bar .search-input {
    border-radius: 0;
    border-color: var(--color-border);
    border-left: 0;
}
.search-bar .search-input.selecting {
    border-radius: 0;
    border-left: 0;
    /* padding-left: 22px; */
}
.search-bar .search-input,
input.ant-input {
    background: transparent;
    color: white;
}
input.ant-input::placeholder {
    color: #aaaaaa;
}

.search-bar .search-input {
    width: 450px;
}

.search-bar .input-prefix {
    height: 40px;
    background: var(--bg-dark);
    border: 1px solid var(--color-border);
    border-right: 0;
    padding-left: 20px;
    /* width: 50px; */
    display: flex;
    justify-content: center;
    border-radius: 20px 0 0 20px;
    z-index: 2;
}
.search-bar .i-mic {
    background: var(--secondary);
    border-radius: 50%;
    padding: 10px;
}
.search-bar .i-mic:hover {
    background: var(--secondary-lighter-2);
}
.search-bar .i-search {
    height: 40px;
    padding: 0 20px;
    background: var(--secondary);
    border-radius: 0 20px 20px 0;
    border: 1px solid var(--color-border);
    border-left: 0;
}

/* Tags */
.btn-youtube-tag {
    background-color: var(--secondary);
    color: #fff;
    font-size: 14px;
    text-wrap: nowrap;
}

.btn-youtube-tag:hover {
    background: var(--secondary-lighter-2);
    color: #fff;
}
.btn-youtube-tag:focus {
    background: #fff;
    color: #000;
    box-shadow: none;
}
.tag-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 60px;
}
.tag-list {
    display: flex;
}

.tag-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px 0;
    background: var(--bg-dark);
    /* border: 1px solid var(--color-border); */
    z-index: 1;
    width: 36px;
    /* height: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-arrow-prev {
    left: 0;
}
.tag-arrow-next {
    right: 0;
}

.tag-arrow .icon {
    position: relative;
    width: inherit;
    border-radius: 50%;
    display: block;
}

.tag-arrow:hover .icon {
    background: hsl(0, 0%, 18.82%);
    padding: inherit;
}
.tag-arrow .icon::after {
    position: absolute;
    width: inherit;
    content: "";
    z-index: 3;
    height: 35px;
    /* transform: translateY(50%); */
}

.tag-arrow-prev .icon::after {
    left: 50%;
    transform: translateX(50%) translateY(-28%);
    /* background: red; */
    background: linear-gradient(to right, #0f0f0f 20%, rgba(33, 33, 33, 0) 80%);
}
.tag-arrow-next .icon::after {
    right: 50%;
    transform: translateX(-50%) translateY(-28%);
    /* background: red; */
    background: linear-gradient(to left, #0f0f0f 20%, rgba(33, 33, 33, 0) 80%);
}

/* Body Cart */
.ant-card-body {
    padding: 0 12px !important;
}

.card-video-thumbnail {
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.card-video-duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: var(--bg-dark);
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 90%;
    font-weight: 500;
}

.card-video-title {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.card-video-title:hover {
    color: inherit;
    text-decoration: inherit;
}

.card-video-verify {
    color: #f1f1f18a;
    width: 14px;
}

.card-view-seperator::after {
    content: "•";
    margin: 0 4px;
}

.card-sub-info {
    color: #f1f1f18a;
}

.card-video-live {
    background: rgba(204, 0, 0, 0.9);
    color: #fff;
    border-radius: 3px;
    width: 56px;
    padding: 0 3px;
    font-size: 12px;
    font-weight: 500;
}

/* Card short */
.card-short {
    width: calc(100vw - 240px - 30px);
    border-top: 5px solid var(--color-border);
    border-bottom: 5px solid var(--color-border);
}

.card-short .ant-card-meta-title {
    color: #fff;
}

.card-short .ant-card-meta-description {
    color: #f1f1f18a;
}
