body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #0f0f0f;
    overflow: hidden;
    padding-right: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --bg-dark: #0f0f0f;
    --secondary: hsla(0, 0%, 100%, 0.08);
    --secondary-lighter-2: hsla(0, 0%, 100%, 0.2);
    --secondary-lighter-5: hsla(0, 0%, 100%, 0.5);
    --color-border: rgba(255, 255, 255, 0.2);
}
.bg-default {
    background: var(--bg-dark);
}
